/* staff badge style */
.badge-container {
    display: inline-flex;
    flex-flow: row wrap;
    align-content: space-around;
}

.staff-badge {
    border: 1px solid lightblue;
    max-width: 30%; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem 1rem;   
    padding-left: 1em;
    padding-right: 1em; 
    width: 30%;
}
/* 
h3 {
   font-family: 
} */

.img-size {
    width: 115px;
    height: 115px;
}