 * {
    box-sizing: border-box;
    
}
/*body {
    background-image: url('../images/11.jpg');
    background-repeat: no-repeat;
    font-family: 'microsoft yi baili', sans-serif;
}

/* NAVIGATION */

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav a{
    text-decoration-line: none;
    color: aliceblue;
    text-align: left;
}
nav a:hover{
    color: aquamarine;
    font-size-adjust: 2em;
}

nav {
    padding-bottom: .5em;
    padding-left: 1em;
    top:
}

li {
    display: inline;
    font-variant: small-caps;
    font-size: 18px;
} 

 footer {
    background-color: black;
    color: white;
} 

/* Style inputs for forms */

    header {
        background-color: black;
        height: 85px;
        width: 100%;
        margin: -18px -10px 0px -5px;
        }

nav {
    padding-left: 6em;
    padding-top: -50px;
}
nav li {
    display: inline;
    align-items: flex-end;
    list-style-type: none; 
   /* float: right;*/
    font-variant: small-caps;
    padding-right: 40px;
    margin-left: 40px;
    font-size: 25px;
    top: 25px;
}
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(230, 240, 187);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 5px;
}

.submit {
    background-color: #7a9c3d;
    color: rgb(230, 248, 205);
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
}

.submit:hover {
    background-color: #e8f5ad;
    color: rgb(95, 134, 45);
}
.submit:visited{
    background-color:rgb(238, 192, 192);
    color: #fffffd;

}

/* Style the container/contact section */

.container form {
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    position: absolute;
    right:100px;
    top:200px;
   font-size: 23px;
   font-weight: 600;
}
.container h1{
    position: absolute;
    left:50px;
    top: 415px;
    font-weight: 800;
    font-size: 70px;
    font-family: 'Microsoft YaHei UI',sans-serif;
    color:white;
}
.container p{
  position: absolute;
  left:50px;
  top:550px;
  font-size: 35px;

}
 .product-blocks {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
} 


.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.main-logo {
    float: left;
    width: 200px;
    height: 40px;
    position: absolute;
    left: 40px;
    top: 15px;
}
#map{
    position: absolute;
    right:50px;
    top:600px;
    /* z-index: 5; */}
.footer-ul{
     position: absolute;
     bottom:0px ;
     width: 100%;
}
footer{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
