* {
    box-sizing: border-box;
}
body{
    background-image: url('../images/11.jpg');
    background-repeat: no-repeat;
    font-family: 'microsoft yi baili', sans-serif;
}
header{
    background-color: black;
    position: absolute;
    top:-1px;
    width: 100%;
    max-height: 50px;
    left:0px;
}
/* Style inputs */
h2{
    font-size: 25px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(230, 240, 187);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 5px;
}

.submit {
    background-color: #7a9c3d;
    color: rgb(230, 248, 205);
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    border-radius: 10%;
    font-size: 15px;
}

.submit:hover {
    background-color: #e8f5ad;
}


/* Style the container/contact section */

.container {
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    position: absolute;
    right:50px;
    top:100px;
    
}
.img{
    width: 850px;
    height: auto;
    position: absolute;
    left: 50px;
    top:250px;
    z-index: 2;
}

/* Create two columns that float next to eachother */

#column {
    float: right;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    position: absolute;
    top:20%;  
    right: 10px;  
    background-color: #ebf1ce 0.8;
   
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}
.my-footer{
    height:200px;
}
.my-footer{
    z-index: 5;
    position: fixed;
    top: 750px;
    left:0px;
    width: 100%;

    }
    .main-mes{
        position: absolute;
       left:560px;
    }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
    #column,
     {
        width:80 %;
        margin-top: 0;
        position: absolute;
        left: 5px;
    }
body{
    background-size: a;
}

