*{
    box-sizing: border-box;
}

.main-img {
    display: absolute;
    background-image: url('../images/1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed center;
    width: 100%;
    height: 700px;
    margin: auto;
}



