*{
    box-sizing: border-box;
}

.main-img {
    display: block;
    background-image: url('../images/9.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 67%;
    height: 500px;
    margin: auto;
    border: thin solid black;
}



