/* product_blocks */

.product_blocks,
.product-detail-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 2em;
}

/* product_blocks index.html images */

.product_blocks .product-item-01 img,
.product_blocks .product-item-02 img,
.product_blocks .product-item-03 img,
.product_blocks .product-item-04 img,
.product_blocks .product-item-05 img,
.product_blocks .product-item-06 img,
.product_blocks .product-item-07 img, 
.product_blocks .product-item-08 img {
    width: 300px;
    height: 200px;
}



/* PRODUCT DETAIL BLOCKS ON PRODUCT DETAIL HTML PAGE */

.product-detail-section .product-detail-01 {
    border: thin solid #000;
    width: 20%;
}
.product-detail-section .product-detail-02 {
    border: thin solid #000;
    width: 20%;
}
.product-detail-section .product-detail-03 {
    border: thin solid #000;
    width: 20%;
}
.product-detail-section .product-detail-04 {
    border: thin solid #000;
    width: 20%;
}
.product-detail-section .product-detail-05 {
    border: thin solid #000;
    width: 20%;
}
.product-detail-section .product-detail-06 {
    border: thin solid #000;
    width: 20%;
}
.product-detail-section .product-detail-07 {
    border: thin solid #000;
    width: 20%;
}
.product-detail-section .product-detail-08 {
    border: thin solid #000;
    width: 20%;
}
            
            
.product-detail-section img {
    width: 300px;
    height: 200px;
}

/* #product-items */

#product-item-01 h3, 
#product-item-01 h4 {
    text-align: center;
}

/* .product-detail-00  */



/* product-detail-00 */